img.full, img.person {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

img#town {
    z-index: 1;
}

img#sarah_up {
    position: absolute;
    opacity: 0;
    right: 50%;
    animation-name: fadeIn, moveRight50-20;
    animation-duration: .25s, 4s;
    animation-delay: 31s, 31s;
    animation-fill-mode: forwards;
    z-index: 20;
}

img.sarah {
    position: absolute;
    left: 5%;
    width: 20%;
    top: 5%;  
}

img#sarah_h {
    z-index: 10;
    animation-name: fadeOut;
    animation-duration:  0s;
    animation-delay: 30s;
    animation-fill-mode: forwards;
    
}

img#sarah_confused {
    opacity: 0; 
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: .25s, .25s, 0s, .25s, 0s, 0s;
    animation-delay: 5.5s, 11s, 15s, 20.5s, 25s, 30s;
    animation-fill-mode: forwards;
    z-index: 11;
}

img#sarah_sad {
    opacity: 0; 
    animation-name: fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: .25s, 0s, .25s, 0s;
    animation-delay: 16s, 20s, 25.5s, 30s;
    animation-fill-mode: forwards;
    z-index: 12;
}

img#person2 {
    z-index: 2;
    animation-name: fadeOut;
    animation-duration:  0s;
    animation-delay: 30s;
    animation-fill-mode: forwards;
}

img#speech {
    z-index: 3; 
    animation-name: fadeOut;
    animation-duration:  0s;
    animation-delay: 30s;
    animation-fill-mode: forwards;
}

img.buttona, img.buttonb {
    opacity: 0;
    width: 30%;
    position: absolute; 
    top: 50%;
}

img.responsea, img.responseb {
    opacity: 0;
    width: 30%;
    position: absolute; 
    top: 25%;
}

/* button animation for intro */
img#button2a {
    left: 8%;
    z-index: 7;
    animation-name: fadeIn, pulseSmall, wiggle, pulseSmall, pulseSmall, fadeOut50, fadeIn50, fadeOut50, fadeOut;
    animation-duration: 0s, 1s, 1s, 1s, 1s, .5s, 0s, .5s, 0s;
    animation-delay: 2.75s, 2.75s, 6.75s, 11.5s, 16.5s, 20.5s, 25s, 25.5s, 30s; /* 33s;*/
    animation-fill-mode: forwards; 
}

img#button2b {
    right: 8%;
    z-index: 8;
    animation-name: fadeIn, pulseSmall, wiggle, fadeOut50, fadeIn50, fadeOut50, fadeIn50, pulseSmall, pulseSmall, fadeOut;
    animation-duration: 0s, 1s, 1s, .5s, 0s, .5s, 0s, 1s, 1s, 0s;
    animation-delay: 4s, 4s, 8s, 11s, 15s, 16s, 20s, 21s, 26s, 30s; /*33.5s;*/
    animation-fill-mode: forwards; 
}

img#correcta {
    left: 8%;
    z-index: 8;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 11s, 15s;
    animation-fill-mode: forwards;   
}

img#wrongb {
    right: 8%;
    z-index: 8;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 16s, 20s;
    animation-fill-mode: forwards;   
}

img#correctb {
    right: 8%;
    z-index: 8;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 20.5s, 25s;
    animation-fill-mode: forwards;   
}

img#wronga {
    left: 8%;
    z-index: 8;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0s;
    animation-delay: 25.5s, 30s;
    animation-fill-mode: forwards;   
}

/* Library of animations */
@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: 0.5}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeIn50 {
    0% {opacity: 0.5}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes sarahMoves {
    100% {left: 73%; top: 3%; width: 25%;}    
}

@keyframes moveRight50-20 {
    0% {}
    40% {right: -20%}
    60% {right: -20%}
    100% {right: -120%}
}



