/* Pizza test trials CSS  */
img#outside {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 3;
    animation-name: pulseSmall, zoomIn2x, fadeOut, zoomOut, fadeIn, fadeOut, fadeIn, fadeOut;
    animation-duration: .75s, 2.5s, 2.5s, 1s, 1s, .25s, 2s, .5s;
    animation-delay: .5s, 4.5s, 5s, 10s, 15.5s, 20.5s, 26s, 27.5s;
    animation-fill-mode: forwards;
}

img#inside {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
}

img#individual {
    width: 17%;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 2;
    animation-name: fadeOut, pulseSmall, wiggle, wiggle, pulseSmall;
    animation-duration: 1s, 1s, 1s, 1s, 1s;
    animation-delay: 18s, 6.5s, 8.5s, 10s, 12.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

img#group {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    animation-name: fadeIn, pulseSmall, fadeOut, fadeIn, fadeOut;
    animation-duration: 1s, 1s, 1s, 1s, .5s;
    animation-delay: 15.5s, 17s, 19.5s, 26s, 27.5s;
    animation-fill-mode: forwards;
}

img#yellow {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    animation-name: fadeIn, selectRight, fadeOut;
    animation-duration: 1s, 1.5s, 0s;
    animation-delay: 19s, 20.5s, 26s;
    animation-fill-mode: forwards;
}

img#green {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    opacity: 0;
    animation-name: fadeIn, selectLeft;
    animation-duration: 0s, 1.5s;
    animation-delay: 27s, 28.5s;
    animation-fill-mode: forwards;
}

img#yes {
    position: absolute;
    top: 45%;
    left: 10%;
    opacity: 0;
    animation-name: fadeIn, fadeOut, fadeIn;
    animation-duration: 1s, 0s, 1s;
    animation-delay: 23.5s, 26s, 31s;
    animation-fill-mode: forwards;
}

img#no {
    position: absolute;
    top: 45%;
    right: 10%;
    opacity: 0;
    animation-name: fadeIn, fadeOut, fadeIn;
    animation-duration: 1s, 0s, 1s, 0s;
    animation-delay: 24s, 26s, 31.5s;
    animation-fill-mode: forwards;
}


/* Library of animations */
@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -300px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -500px; top: -300px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes sarahMoves {
    100% {left: 73%; top: 3%; width: 25%;}    
}

@keyframes moveRight {
    100% {left: 25%}
}



