/* General CSS */
body {
    overflow: hidden; 
    margin: 0px;
}

div#images {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

/* introduction.html-specific CSS  */
img#sarah {
    position: relative;
    left: 25%;
    width: 50%;
    top: 25%;
    animation-name: sarahMoves, fadeOut;
    animation-duration: 3s, .25s;
    animation-delay: 1s, 26.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

img#neighborhood {
    height: 100vh;
    width: 100vw; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fadeIn, fadeOut, fadeIn, zoomIn, fadeOut;
    animation-duration: 1s, .25s, .5s, 4s, 1s;
    animation-delay: 2.5s, 26.5s, 38s, 38s, 40s;
    animation-fill-mode: forwards; 
    z-index: 3;   
}

img#group_yellow {
    width: 35%;
    position: absolute;
    left: 10%;
    top: 60%;
    opacity: 0;
    z-index: 4;
    animation-name: fadeIn, pulseSmall, pulseSmall, wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 1s, 1s, 1s, .25s;
    animation-delay: 7s, 13.5s, 17s, 19s, 21s, 26.5s;
    animation-fill-mode: forwards; 
}

img#group_green {
    width: 35%;
    position: absolute;
    right: 10%;
    top: 60%;
    opacity: 0;
    z-index: 4;
    animation-name: fadeIn, pulseSmall, pulseSmall, wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 1s, 1s, 1s, .25s;
    animation-delay: 7s, 14.5s, 18s, 23s, 24.5s, 26.5s;
    animation-fill-mode: forwards; 
}

img.attn {
    height: 50%;
    position: absolute;
    top: 25%; 
    opacity: 0;   
}

img#attn_yellow {
    left: 20%;
    animation-name: fadeIn, pulseSmall, wiggle, fadeOut;
    animation-duration: .25s, 1s, 1s, .5s;
    animation-delay: 27s, 27.5s, 31.5s, 37.5s;
    animation-fill-mode: forwards;    
}

img#attn_green {
    right: 20%;
    animation-name: fadeIn, pulseSmall, wiggle, fadeOut;
    animation-duration: .25s, 1s, 1s, .5s;
    animation-delay: 27s, 27.5s, 36s, 37.5s;
    animation-fill-mode: forwards;  
}

/* introduction_noknowledge.html-specific CSS  */
img#sarah1 {
    position: relative;
    left: 25%;
    width: 50%;
    top: 25%;
    animation-name: sarahMoves, fadeOut;
    animation-duration: 3s, .25s;
    animation-delay: 1s, 29s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

img#neighborhood1 {
    height: 100vh;
    width: 100vw; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fadeIn, fadeOut, fadeIn, zoomIn, fadeOut;
    animation-duration: 1s, .25s, .5s, 4s, 1s;
    animation-delay: 2.5s, 29s, 40.5s, 40.5s, 42s;
    animation-fill-mode: forwards; 
    z-index: 3;   
}

img#group_yellow1 {
    width: 35%;
    position: absolute;
    left: 10%;
    top: 60%;
    opacity: 0;
    z-index: 4;
    animation-name: fadeIn, pulseSmall, pulseSmall, wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 1s, 1s, 1s, .25s;
    animation-delay: 12s, 15s, 18.75s, 22s, 23.5s, 29s;
    animation-fill-mode: forwards; 
}

img#group_green1 {
    width: 35%;
    position: absolute;
    right: 10%;
    top: 60%;
    opacity: 0;
    z-index: 4;
    animation-name: fadeIn, pulseSmall, pulseSmall, wiggle, wiggle, fadeOut;
    animation-duration: 1s, 1s, 1s, 1s, 1s, .25s;
    animation-delay: 12s, 16s, 20s, 25.5s, 27s, 29s;
    animation-fill-mode: forwards; 
}

img.attn1 {
    height: 50%;
    position: absolute;
    top: 25%; 
    opacity: 0;   
}

img#attn_yellow1 {
    left: 20%;
    animation-name: fadeIn, pulseSmall, wiggle, fadeOut;
    animation-duration: .25s, 1s, 1s, .5s;
    animation-delay: 29.25s, 29.5s, 34.5s, 40.5s;
    animation-fill-mode: forwards;    
}

img#attn_green1 {
    right: 20%;
    animation-name: fadeIn, pulseSmall, wiggle, fadeOut;
    animation-duration: .25s, 1s, 1s, .5s;
    animation-delay: 29.25s, 29.5s, 39s, 40.5s;
    animation-fill-mode: forwards;  
}

/* paint trial */
img#yellow_paint {
    width: 40%;
    position: absolute;
    top: 20%;
    left: 42%;
    z-index: 2;
    animation-name: fadeOut, pulseSmall, wiggle, wiggle, pulseSmall;
    animation-duration: 1s, 1s, 1s, 1s, 1s;
    animation-delay: 18s, 7s, 9.5s, 11.5s, 13.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* photo trial */
img#yellow_photo {
    width: 17%;
    position: absolute;
    top: 20%;
    left: 43%;
    z-index: 2;
    animation-name: fadeOut, pulseSmall, wiggle, wiggle, pulseSmall;
    animation-duration: 1s, 1s, 1s, 1s, 1s;
    animation-delay: 18s, 7s, 9.5s, 11.5s, 13.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* piano trial */
img#yellow_piano {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
    animation-name: fadeOut, pulseSmall, wiggle, wiggle, pulseSmall;
    animation-duration: 1s, 1s, 1s, 1s, 1s;
    animation-delay: 18s, 7s, 9.5s, 11.5s, 13.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* Library of animations */
@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes sarahMoves {
    100% {left: 73%; top: 3%; width: 25%;}    
}

@keyframes moveRight {
    100% {left: 25%}
}



