body {
    overflow: hidden; 
    margin: 0px;
}

img#town1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh; 
}

img#town2 {
    position: absolute;
    top: 0%;
    left: 65.7%;
    height: 100vh;
    transform: scale(-1,1);
}

img#sarah1 {
    opacity: 0;
    position: absolute;
    left: 20%;
    bottom: 10%; 
    height: 70%;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0.05s;
    animation-delay: 1.98s, 3.02s;
    animation-fill-mode: forwards;
    z-index: 2;
}

img#sarahUp {
    opacity: 0;
    position: absolute;
    left: 20%;
    bottom: 10%; 
    height: 70%;
    animation-name: fadeIn, sarahMoves;
    animation-duration: 0.05s, 1.5s;
    animation-delay: 4.48s, 6s;
    animation-fill-mode: forwards;
    z-index: 2;
}

img#sarah4 {
    position: absolute;
    left: 20%;
    bottom: 10%; 
    height: 70%;
    animation-name: fadeOut, fadeIn, fadeOut;
    animation-duration: 0.05s;
    animation-delay: 2s, 3s, 4.5s;
    animation-fill-mode: forwards;
    z-index: 1;
}


/* Library of animations */
@keyframes zoomIn2x {
    0% {}
    100% {transform: scale(2)}
}

@keyframes zoomIn {
    0% {}
    100% {transform: scale(1.5)}
}

@keyframes zoomOut {
    0% {}
    100% {transform: scale(1)}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fadeOut50 {
    0% {opacity: 1}
    100% {opacity: 0.5}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeIn50 {
    0% {opacity: 0.5}
    100% {opacity: 1}
}

@keyframes pulseSmall {
    0% {}
    50% {transform: scale(1.05)} 
    100% {transform: scale(1)} 
}

@keyframes selectRight {
    0% {}
    100% {left: 700px; top: -200px; transform: scale(1.5)}
}

@keyframes selectLeft {
    0% {}
    100% {left: -350px; top: -125px; transform: scale(1.5)}
}

@keyframes wiggle {
  0% {}
  20% {transform: rotate(2.5deg);}
  40% {transform: rotate(-2.5deg);}
  60% {transform: rotate(5deg);}
  80% {transform: rotate(-1.25deg);}
  100% {transform: rotate(0deg);}
}

@keyframes sarahMoves {
    100% {left: 110%;}    
}

@keyframes moveRight75 {
    100% {left: 25%}
}


