
.container {
    position: relative;
    width: 90vw;
    height: 90vh;
}

test {
    width: 100px;
    background: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: backwards;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

}


div.green1 {
    width: 100px;
    -webkit-animation: appear 5s;
    animation: appear 5s;
}

img {
    width: 100%;
}

div.sarah {
    position: absolute;
    -webkit-animation: sarahMoves 5s;
    -webkit-animation-fill-mode: forwards;
    animation: sarahMoves 5s;
    animation-fill-mode: forwards;   
}

div.book {
    display: none; 
}

@keyframes sarahMoves {
    0% {left: 35%; top: 35%; width: 600px;}
    60% {left: 35%; top: 35%; width: 600px;}
    100% {left: 75%; top: 2%; width: 400px;}
}





